---
import { siteContentByLocale, type SiteLocale } from '../modules/content';

interface Props {
  locale?: SiteLocale;
}

const { locale = 'en' } = Astro.props;
const copy = siteContentByLocale[locale].footer;
---

<footer class="p-6 mt-12">
  <div class="max-w-6xl mx-auto text-center">
    <p class="text-white/90 drop-shadow-md">
      {copy.copyright}
    </p>
  </div>
</footer>
