<footer class="p-6 mt-12">
  <div class="max-w-6xl mx-auto text-center">
    <p class="text-white/90 drop-shadow-md">
      &copy; 2025 Vault. Pavlina Gluhova. All rights reserved.
    </p>
  </div>
</footer>
